:root{
      --active-color: #008b8b;
      --hover-color: #008b8b;
      --general-color: #000;
      --secondary-color: #fff;
      --general-font-size: 1.375rem;
      --secondary-font-size: 1.2rem;
      --general-font-family: "BPG Nino Mtavruli Bold", sans-serif;
}