main{
      height: 3rem;
      display: grid;
      place-items: center;
      background-color: #f1f1f1;
      width: 100%; 
      p{
            line-height: 2rem;
            margin: 0;
      }
}